 body{
    background:url('https://image.ibb.co/maKv1G/car_repair_362150_960_720.jpg') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
                 font-family:sans-serif;
    }
     h1{
        background-color:lightgray;
        border: 1.5px solid #4CAF50;
        border-radius: 20px;
        padding: 26px;
        text-align: center;
         font-family:inherit;}

   .side{
        background-color:lightgray;
        border: 1.5px solid #4CAF50;
        border-radius: 20px;
        padding: 26px;
    }
    input[type=text], textarea, select {
        width: 50%;
        padding: 12px;
        border: 0.4px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        margin-top: 11px;
        margin-bottom: 11px;
        margin-right: 15px;
        resize: vertical;
    }
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        width: 22%;
        margin-left: 40%;
        margin-right: auto;
    }
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 16px;
    }
    form label {
        display:inline-block; width:140px;
    }
    h1,h2{
        text-align: center;
    }
    input[type=password]{
        width: 50%;
        padding: 12px;
        border: 0.4px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        margin-right: 15px;
       margin-top: 11px;
        margin-bottom: 11px;
        resize: vertical;
    }
    input[type=email]{
        width: 50%;
        padding: 14px;
        border: 0.4px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
       margin-top: 11px;
        margin-bottom: 11px;
        resize: vertical;

    }


    header{
        height:20px;
        color: black;
        background-color: lightgray;
        text-align: center;
        opacity:0.8;
        border-radius: 16px;
    }

   input[type=number]{
    width: 50%;
        padding: 12px;
        border: 0.4px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        margin-top: 11px;
        margin-bottom: 11px;
        margin-right: 10px;
        resize: vertical;
    }
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#UserType{
        width: 50%;
        padding: 12px;
        border: 0.4px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        margin-top: 11px;
        margin-bottom: 11px;
        margin-right: 10px;
        resize: vertical;
}

