*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

  body
        {
            text-align: center;
            background-color:whitesmoke;
            color:crimson;
            font-weight: bold;
            background:url('https://image.ibb.co/maKv1G/car_repair_362150_960_720.jpg') no-repeat center center fixed;
            background-size: cover;
            margin: 0;
            padding: 0;

        }
    h1
        {

            text-align: center;
            font-style: normal;
            color:lawngreen;
        }
    h2
        {
            text-align: center;
            font-style :normal;
             text-align: center;
             font-size: 19px;




        }
    input
        {
                align: center;
                width: 35%;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
                background: black;
                padding: 8px;
                font-size: 13px;
                color: white;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
                border: 1px solid rgba(0,0,0,0.3);
                border-radius: 10px;
                box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
                transition: box-shadow .5s ease;
                opacity:0.9;

        }
    .btn
        {
            background: lawngreen;
            padding: 8px;
            font-size: 13px;
            color: grey;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 10px;
            box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
            transition: box-shadow .5s ease;
        }
    header
        {
            height:100;
            width:auto;
            padding: 0.8rem;
            color: white;
            background-color: black;
            text-align: center;
            opacity:0.5;
        }
    .row
        {

            background: grey;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 13px;
            color: grey;
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 10px;
            box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
            transition: box-shadow .5s ease;
            opacity:0.8;
            position: absolute;
            right: 35%;
            bottom:25%;
            left: 33%;
            width:35%;

        }

    footer
        {
         font-size: 13px;
          position: absolute;
          width:auto;
          right: 0;
          bottom:0;
          left: 0;
          padding: 0.8rem;
          color:white;
          background-color: black;
          text-align: center;
         }
     table
        {

               align: center;
              background: grey;
              padding: 15px;
              margin-top: 10px;
              margin-bottom: 5px;
              font-size: 13px;
              color:black;
              border: 1px solid rgba(0,0,0,0.3);
              border-radius: 10px;
              box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
              transition: box-shadow .5s ease;
              opacity:1.5;

        }
.but{
    background-color: lightgrey;
    border-radius: 14px;
    border-color: grey;
    position: relative;
    left: 2%;
    padding: 2px;
    width:8%;
}
.search{
    border-radius: 22px;
}

.tablehead th{
    text-align : center;
}

.hometable td{
    max-width: 200px;
}
